<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First France Challenge</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>First France Challenge</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Accueil</a></li>
                <li><a href="../pages/about.html">À Propos</a></li>
                <li><a href="../pages/teams.html">Équipes</a></li>
                <li><a href="../pages/schedule.html">Programme</a></li>
                <li><a href="../pages/rules.html">Règles</a></li>
                <li><a href="../pages/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>